# 💡 main.cpp 以外の不要なファイルをすべて完全に無視する設定

# テストケースや実行ファイルを無視
test/
tests/
.codeforces/
*.exe
*.out
a.out
.vscode/

# ツール用のjsonファイルを完全に無視
*.json
# 自動除外された未解答ファイル
abc432/g/main.cpp
abc432/b/main.cpp
abc432/f/main.cpp
abc432/d/main.cpp
abc432/e/main.cpp
abc432/a/main.cpp
abc426/g/main.cpp
abc426/b/main.cpp
abc426/f/main.cpp
abc426/d/main.cpp
abc426/e/main.cpp
abc426/a/main.cpp
abc420/g/main.cpp
abc420/b/main.cpp
abc420/f/main.cpp
abc420/d/main.cpp
abc420/e/main.cpp
abc420/a/main.cpp
abc462/g/main.cpp
abc462/f/main.cpp
abc462/d/main.cpp
abc462/e/main.cpp
abc451/g/main.cpp
abc451/b/main.cpp
abc451/f/main.cpp
abc451/d/main.cpp
abc451/e/main.cpp
abc451/a/main.cpp
abc419/g/main.cpp
abc419/b/main.cpp
abc419/f/main.cpp
abc419/d/main.cpp
abc419/e/main.cpp
abc419/a/main.cpp
abc428/g/main.cpp
abc428/b/main.cpp
abc428/f/main.cpp
abc428/d/main.cpp
abc428/e/main.cpp
abc428/a/main.cpp
abc449/g/main.cpp
abc449/b/main.cpp
abc449/f/main.cpp
abc449/d/main.cpp
abc449/e/main.cpp
abc449/a/main.cpp
abc452/g/main.cpp
abc452/b/main.cpp
abc452/f/main.cpp
abc452/d/main.cpp
abc452/e/main.cpp
abc452/a/main.cpp
abc431/g/main.cpp
abc431/b/main.cpp
abc431/f/main.cpp
abc431/d/main.cpp
abc431/e/main.cpp
abc431/a/main.cpp
abc460/g/main.cpp
abc460/b/main.cpp
abc460/f/main.cpp
abc460/d/main.cpp
abc460/e/main.cpp
abc460/a/main.cpp
abc461/g/main.cpp
abc461/f/main.cpp
abc461/d/main.cpp
abc461/e/main.cpp
abc435/g/main.cpp
abc435/f/main.cpp
abc435/e/main.cpp
abc436/g/main.cpp
abc436/f/main.cpp
abc436/d/main.cpp
abc436/e/main.cpp
typical90/041/main.cpp
typical90/034/main.cpp
typical90/076/main.cpp
typical90/062/main.cpp
typical90/048/main.cpp
typical90/045/main.cpp
typical90/019/main.cpp
typical90/038/main.cpp
typical90/081/main.cpp
typical90/052/main.cpp
typical90/063/main.cpp
typical90/082/main.cpp
typical90/043/main.cpp
typical90/020/main.cpp
typical90/026/main.cpp
typical90/030/main.cpp
typical90/040/main.cpp
typical90/008/main.cpp
typical90/005/main.cpp
typical90/044/main.cpp
typical90/013/main.cpp
typical90/075/main.cpp
typical90/054/main.cpp
typical90/069/main.cpp
typical90/053/main.cpp
typical90/047/main.cpp
typical90/039/main.cpp
typical90/080/main.cpp
typical90/068/main.cpp
typical90/051/main.cpp
typical90/073/main.cpp
typical90/003/main.cpp
typical90/006/main.cpp
typical90/077/main.cpp
typical90/090/main.cpp
typical90/087/main.cpp
typical90/088/main.cpp
typical90/064/main.cpp
typical90/046/main.cpp
typical90/028/main.cpp
typical90/057/main.cpp
typical90/031/main.cpp
typical90/085/main.cpp
typical90/025/main.cpp
typical90/072/main.cpp
typical90/017/main.cpp
typical90/089/main.cpp
typical90/056/main.cpp
typical90/074/main.cpp
typical90/032/main.cpp
typical90/042/main.cpp
typical90/018/main.cpp
typical90/079/main.cpp
typical90/012/main.cpp
typical90/021/main.cpp
typical90/086/main.cpp
typical90/071/main.cpp
typical90/035/main.cpp
typical90/060/main.cpp
typical90/001/main.cpp
typical90/083/main.cpp
typical90/036/main.cpp
typical90/065/main.cpp
typical90/058/main.cpp
typical90/049/main.cpp
typical90/084/main.cpp
typical90/009/main.cpp
typical90/011/main.cpp
typical90/059/main.cpp
typical90/037/main.cpp
typical90/015/main.cpp
typical90/050/main.cpp
typical90/029/main.cpp
typical90/066/main.cpp
typical90/023/main.cpp
typical90/070/main.cpp
abc456/g/main.cpp
abc456/b/main.cpp
abc456/f/main.cpp
abc456/d/main.cpp
abc456/e/main.cpp
abc456/a/main.cpp
abc439/g/main.cpp
abc439/f/main.cpp
abc439/d/main.cpp
abc439/e/main.cpp
abc427/g/main.cpp
abc427/b/main.cpp
abc427/f/main.cpp
abc427/d/main.cpp
abc427/e/main.cpp
abc427/a/main.cpp
abc443/g/main.cpp
abc443/f/main.cpp
abc443/d/main.cpp
abc443/e/main.cpp
abc450/g/main.cpp
abc450/b/main.cpp
abc450/f/main.cpp
abc450/d/main.cpp
abc450/e/main.cpp
abc450/a/main.cpp
abc437/g/main.cpp
abc437/f/main.cpp
abc437/d/main.cpp
abc437/e/main.cpp
abc430/g/main.cpp
abc430/b/main.cpp
abc430/f/main.cpp
abc430/d/main.cpp
abc430/e/main.cpp
abc430/a/main.cpp
abc421/g/main.cpp
abc421/b/main.cpp
abc421/f/main.cpp
abc421/d/main.cpp
abc421/e/main.cpp
abc421/a/main.cpp
ahc061/a-final/main.cpp
abc442/g/main.cpp
abc442/f/main.cpp
abc442/e/main.cpp
abc457/g/main.cpp
abc457/b/main.cpp
abc457/f/main.cpp
abc457/d/main.cpp
abc457/e/main.cpp
abc457/a/main.cpp
abc445/g/main.cpp
abc445/f/main.cpp
abc445/d/main.cpp
abc445/e/main.cpp
abc448/g/main.cpp
abc448/b/main.cpp
abc448/f/main.cpp
abc448/d/main.cpp
abc448/e/main.cpp
abc448/a/main.cpp
abc429/g/main.cpp
abc429/b/main.cpp
abc429/f/main.cpp
abc429/d/main.cpp
abc429/e/main.cpp
abc429/a/main.cpp
abc455/g/main.cpp
abc455/b/main.cpp
abc455/f/main.cpp
abc455/d/main.cpp
abc455/e/main.cpp
abc455/a/main.cpp
abc425/g/main.cpp
abc425/b/main.cpp
abc425/f/main.cpp
abc425/d/main.cpp
abc425/e/main.cpp
abc425/a/main.cpp
abc446/g/main.cpp
abc446/f/main.cpp
abc446/d/main.cpp
abc446/e/main.cpp
abc434/g/main.cpp
abc434/b/main.cpp
abc434/f/main.cpp
abc434/d/main.cpp
abc434/e/main.cpp
abc434/a/main.cpp
abc418/g/main.cpp
abc418/b/main.cpp
abc418/f/main.cpp
abc418/d/main.cpp
abc418/e/main.cpp
abc418/a/main.cpp
abc453/g/main.cpp
abc453/b/main.cpp
abc453/f/main.cpp
abc453/d/main.cpp
abc453/e/main.cpp
abc453/a/main.cpp
abc441/g/main.cpp
abc441/f/main.cpp
abc441/d/main.cpp
abc441/e/main.cpp
abc454/g/main.cpp
abc454/b/main.cpp
abc454/f/main.cpp
abc454/d/main.cpp
abc454/e/main.cpp
abc454/a/main.cpp
abc423/g/main.cpp
abc423/b/main.cpp
abc423/f/main.cpp
abc423/d/main.cpp
abc423/e/main.cpp
abc423/a/main.cpp
abc440/g/main.cpp
abc440/f/main.cpp
abc440/d/main.cpp
abc440/e/main.cpp
abc422/g/main.cpp
abc422/b/main.cpp
abc422/f/main.cpp
abc422/d/main.cpp
abc422/e/main.cpp
abc422/a/main.cpp
abc444/g/main.cpp
abc444/f/main.cpp
abc444/e/main.cpp
abc433/g/main.cpp
abc433/b/main.cpp
abc433/f/main.cpp
abc433/d/main.cpp
abc433/e/main.cpp
abc433/a/main.cpp
abc447/g/main.cpp
abc447/f/main.cpp
abc447/e/main.cpp
abc459/g/main.cpp
abc459/b/main.cpp
abc459/f/main.cpp
abc459/d/main.cpp
abc459/e/main.cpp
abc459/a/main.cpp
abc424/g/main.cpp
abc424/b/main.cpp
abc424/f/main.cpp
abc424/d/main.cpp
abc424/e/main.cpp
abc424/a/main.cpp
abc417/g/main.cpp
abc417/b/main.cpp
abc417/f/main.cpp
abc417/d/main.cpp
abc417/e/main.cpp
abc417/a/main.cpp
abc438/g/main.cpp
abc438/f/main.cpp
abc438/d/main.cpp
abc438/e/main.cpp
abc458/g/main.cpp
abc458/b/main.cpp
abc458/f/main.cpp
abc458/d/main.cpp
abc458/e/main.cpp
abc458/a/main.cpp
