# 💡 main.cpp 以外の不要なファイルをすべて完全に無視する設定

# テストケースや実行ファイルを無視
test/
tests/
.codeforces/
*.exe
*.out
a.out
.vscode/

# ツール用のjsonファイルを完全に無視
*.json




# 自動除外された未解答ファイル
abc432/g/main.cpp
abc432/g/README.md
abc432/b/main.cpp
abc432/b/README.md
abc432/f/main.cpp
abc432/f/README.md
abc432/d/main.cpp
abc432/d/README.md
abc432/e/main.cpp
abc432/e/README.md
abc432/a/main.cpp
abc432/a/README.md
abc426/g/main.cpp
abc426/g/README.md
abc426/b/main.cpp
abc426/b/README.md
abc426/f/main.cpp
abc426/f/README.md
abc426/d/main.cpp
abc426/d/README.md
abc426/e/main.cpp
abc426/e/README.md
abc426/a/main.cpp
abc426/a/README.md
abc420/g/main.cpp
abc420/g/README.md
abc420/b/main.cpp
abc420/b/README.md
abc420/f/main.cpp
abc420/f/README.md
abc420/d/main.cpp
abc420/d/README.md
abc420/e/main.cpp
abc420/e/README.md
abc420/a/main.cpp
abc420/a/README.md
abc462/g/main.cpp
abc462/g/README.md
abc462/f/main.cpp
abc462/f/README.md
abc462/d/main.cpp
abc462/d/README.md
abc462/e/main.cpp
abc462/e/README.md
abc451/g/main.cpp
abc451/g/README.md
abc451/b/main.cpp
abc451/b/README.md
abc451/f/main.cpp
abc451/f/README.md
abc451/d/main.cpp
abc451/d/README.md
abc451/e/main.cpp
abc451/e/README.md
abc451/a/main.cpp
abc451/a/README.md
abc419/g/main.cpp
abc419/g/README.md
abc419/b/main.cpp
abc419/b/README.md
abc419/f/main.cpp
abc419/f/README.md
abc419/d/main.cpp
abc419/d/README.md
abc419/e/main.cpp
abc419/e/README.md
abc419/a/main.cpp
abc419/a/README.md
abc428/g/main.cpp
abc428/g/README.md
abc428/b/main.cpp
abc428/b/README.md
abc428/f/main.cpp
abc428/f/README.md
abc428/d/main.cpp
abc428/d/README.md
abc428/e/main.cpp
abc428/e/README.md
abc428/a/main.cpp
abc428/a/README.md
abc449/g/main.cpp
abc449/g/README.md
abc449/b/main.cpp
abc449/b/README.md
abc449/f/main.cpp
abc449/f/README.md
abc449/d/main.cpp
abc449/d/README.md
abc449/e/main.cpp
abc449/e/README.md
abc449/a/main.cpp
abc449/a/README.md
abc452/g/main.cpp
abc452/g/README.md
abc452/b/main.cpp
abc452/b/README.md
abc452/f/main.cpp
abc452/f/README.md
abc452/d/main.cpp
abc452/d/README.md
abc452/e/main.cpp
abc452/e/README.md
abc452/a/main.cpp
abc452/a/README.md
abc431/g/main.cpp
abc431/g/README.md
abc431/b/main.cpp
abc431/b/README.md
abc431/f/main.cpp
abc431/f/README.md
abc431/d/main.cpp
abc431/d/README.md
abc431/e/main.cpp
abc431/e/README.md
abc431/a/main.cpp
abc431/a/README.md
abc460/g/main.cpp
abc460/g/README.md
abc460/b/main.cpp
abc460/b/README.md
abc460/f/main.cpp
abc460/f/README.md
abc460/d/main.cpp
abc460/d/README.md
abc460/e/main.cpp
abc460/e/README.md
abc460/a/main.cpp
abc460/a/README.md
abc461/g/main.cpp
abc461/g/README.md
abc461/f/main.cpp
abc461/f/README.md
abc461/d/main.cpp
abc461/d/README.md
abc461/e/main.cpp
abc461/e/README.md
abc435/g/main.cpp
abc435/g/README.md
abc435/f/main.cpp
abc435/f/README.md
abc435/e/main.cpp
abc435/e/README.md
abc436/g/main.cpp
abc436/g/README.md
abc436/f/main.cpp
abc436/f/README.md
abc436/d/main.cpp
abc436/d/README.md
abc436/e/main.cpp
abc436/e/README.md
typical90/041/main.cpp
typical90/041/README.md
typical90/034/main.cpp
typical90/034/README.md
typical90/076/main.cpp
typical90/076/README.md
typical90/062/main.cpp
typical90/062/README.md
typical90/048/main.cpp
typical90/048/README.md
typical90/045/main.cpp
typical90/045/README.md
typical90/019/main.cpp
typical90/019/README.md
typical90/038/main.cpp
typical90/038/README.md
typical90/081/main.cpp
typical90/081/README.md
typical90/052/main.cpp
typical90/052/README.md
typical90/063/main.cpp
typical90/063/README.md
typical90/082/main.cpp
typical90/082/README.md
typical90/043/main.cpp
typical90/043/README.md
typical90/020/main.cpp
typical90/020/README.md
typical90/026/main.cpp
typical90/026/README.md
typical90/030/main.cpp
typical90/030/README.md
typical90/040/main.cpp
typical90/040/README.md
typical90/008/main.cpp
typical90/008/README.md
typical90/005/main.cpp
typical90/005/README.md
typical90/044/main.cpp
typical90/044/README.md
typical90/013/main.cpp
typical90/013/README.md
typical90/075/main.cpp
typical90/075/README.md
typical90/054/main.cpp
typical90/054/README.md
typical90/069/main.cpp
typical90/069/README.md
typical90/053/main.cpp
typical90/053/README.md
typical90/047/main.cpp
typical90/047/README.md
typical90/039/main.cpp
typical90/039/README.md
typical90/080/main.cpp
typical90/080/README.md
typical90/068/main.cpp
typical90/068/README.md
typical90/051/main.cpp
typical90/051/README.md
typical90/073/main.cpp
typical90/073/README.md
typical90/003/main.cpp
typical90/003/README.md
typical90/006/main.cpp
typical90/006/README.md
typical90/077/main.cpp
typical90/077/README.md
typical90/090/main.cpp
typical90/090/README.md
typical90/087/main.cpp
typical90/087/README.md
typical90/088/main.cpp
typical90/088/README.md
typical90/064/main.cpp
typical90/064/README.md
typical90/046/main.cpp
typical90/046/README.md
typical90/028/main.cpp
typical90/028/README.md
typical90/057/main.cpp
typical90/057/README.md
typical90/031/main.cpp
typical90/031/README.md
typical90/085/main.cpp
typical90/085/README.md
typical90/025/main.cpp
typical90/025/README.md
typical90/072/main.cpp
typical90/072/README.md
typical90/017/main.cpp
typical90/017/README.md
typical90/089/main.cpp
typical90/089/README.md
typical90/056/main.cpp
typical90/056/README.md
typical90/074/main.cpp
typical90/074/README.md
typical90/032/main.cpp
typical90/032/README.md
typical90/042/main.cpp
typical90/042/README.md
typical90/018/main.cpp
typical90/018/README.md
typical90/079/main.cpp
typical90/079/README.md
typical90/012/main.cpp
typical90/012/README.md
typical90/021/main.cpp
typical90/021/README.md
typical90/086/main.cpp
typical90/086/README.md
typical90/071/main.cpp
typical90/071/README.md
typical90/035/main.cpp
typical90/035/README.md
typical90/060/main.cpp
typical90/060/README.md
typical90/001/main.cpp
typical90/001/README.md
typical90/083/main.cpp
typical90/083/README.md
typical90/036/main.cpp
typical90/036/README.md
typical90/065/main.cpp
typical90/065/README.md
typical90/058/main.cpp
typical90/058/README.md
typical90/049/main.cpp
typical90/049/README.md
typical90/084/main.cpp
typical90/084/README.md
typical90/009/main.cpp
typical90/009/README.md
typical90/011/main.cpp
typical90/011/README.md
typical90/059/main.cpp
typical90/059/README.md
typical90/037/main.cpp
typical90/037/README.md
typical90/015/main.cpp
typical90/015/README.md
typical90/050/main.cpp
typical90/050/README.md
typical90/029/main.cpp
typical90/029/README.md
typical90/066/main.cpp
typical90/066/README.md
typical90/023/main.cpp
typical90/023/README.md
typical90/070/main.cpp
typical90/070/README.md
abc456/g/main.cpp
abc456/g/README.md
abc456/b/main.cpp
abc456/b/README.md
abc456/f/main.cpp
abc456/f/README.md
abc456/d/main.cpp
abc456/d/README.md
abc456/e/main.cpp
abc456/e/README.md
abc456/a/main.cpp
abc456/a/README.md
abc439/g/main.cpp
abc439/g/README.md
abc439/f/main.cpp
abc439/f/README.md
abc439/d/main.cpp
abc439/d/README.md
abc439/e/main.cpp
abc439/e/README.md
abc427/g/main.cpp
abc427/g/README.md
abc427/b/main.cpp
abc427/b/README.md
abc427/f/main.cpp
abc427/f/README.md
abc427/d/main.cpp
abc427/d/README.md
abc427/e/main.cpp
abc427/e/README.md
abc427/a/main.cpp
abc427/a/README.md
abc443/g/main.cpp
abc443/g/README.md
abc443/f/main.cpp
abc443/f/README.md
abc443/d/main.cpp
abc443/d/README.md
abc443/e/main.cpp
abc443/e/README.md
abc450/g/main.cpp
abc450/g/README.md
abc450/b/main.cpp
abc450/b/README.md
abc450/f/main.cpp
abc450/f/README.md
abc450/d/main.cpp
abc450/d/README.md
abc450/e/main.cpp
abc450/e/README.md
abc450/a/main.cpp
abc450/a/README.md
abc437/g/main.cpp
abc437/g/README.md
abc437/f/main.cpp
abc437/f/README.md
abc437/d/main.cpp
abc437/d/README.md
abc437/e/main.cpp
abc437/e/README.md
abc430/g/main.cpp
abc430/g/README.md
abc430/b/main.cpp
abc430/b/README.md
abc430/f/main.cpp
abc430/f/README.md
abc430/d/main.cpp
abc430/d/README.md
abc430/e/main.cpp
abc430/e/README.md
abc430/a/main.cpp
abc430/a/README.md
abc421/g/main.cpp
abc421/g/README.md
abc421/b/main.cpp
abc421/b/README.md
abc421/f/main.cpp
abc421/f/README.md
abc421/d/main.cpp
abc421/d/README.md
abc421/e/main.cpp
abc421/e/README.md
abc421/a/main.cpp
abc421/a/README.md
ahc061/a-final/main.cpp
ahc061/a-final/README.md
abc442/g/main.cpp
abc442/g/README.md
abc442/f/main.cpp
abc442/f/README.md
abc442/e/main.cpp
abc442/e/README.md
abc457/g/main.cpp
abc457/g/README.md
abc457/b/main.cpp
abc457/b/README.md
abc457/f/main.cpp
abc457/f/README.md
abc457/d/main.cpp
abc457/d/README.md
abc457/e/main.cpp
abc457/e/README.md
abc457/a/main.cpp
abc457/a/README.md
abc445/g/main.cpp
abc445/g/README.md
abc445/f/main.cpp
abc445/f/README.md
abc445/d/main.cpp
abc445/d/README.md
abc445/e/main.cpp
abc445/e/README.md
abc448/g/main.cpp
abc448/g/README.md
abc448/b/main.cpp
abc448/b/README.md
abc448/f/main.cpp
abc448/f/README.md
abc448/d/main.cpp
abc448/d/README.md
abc448/e/main.cpp
abc448/e/README.md
abc448/a/main.cpp
abc448/a/README.md
abc429/g/main.cpp
abc429/g/README.md
abc429/b/main.cpp
abc429/b/README.md
abc429/f/main.cpp
abc429/f/README.md
abc429/d/main.cpp
abc429/d/README.md
abc429/e/main.cpp
abc429/e/README.md
abc429/a/main.cpp
abc429/a/README.md
abc455/g/main.cpp
abc455/g/README.md
abc455/b/main.cpp
abc455/b/README.md
abc455/f/main.cpp
abc455/f/README.md
abc455/d/main.cpp
abc455/d/README.md
abc455/e/main.cpp
abc455/e/README.md
abc455/a/main.cpp
abc455/a/README.md
abc425/g/main.cpp
abc425/g/README.md
abc425/b/main.cpp
abc425/b/README.md
abc425/f/main.cpp
abc425/f/README.md
abc425/d/main.cpp
abc425/d/README.md
abc425/e/main.cpp
abc425/e/README.md
abc425/a/main.cpp
abc425/a/README.md
abc446/g/main.cpp
abc446/g/README.md
abc446/f/main.cpp
abc446/f/README.md
abc446/d/main.cpp
abc446/d/README.md
abc446/e/main.cpp
abc446/e/README.md
abc434/g/main.cpp
abc434/g/README.md
abc434/b/main.cpp
abc434/b/README.md
abc434/f/main.cpp
abc434/f/README.md
abc434/d/main.cpp
abc434/d/README.md
abc434/e/main.cpp
abc434/e/README.md
abc434/a/main.cpp
abc434/a/README.md
abc418/g/main.cpp
abc418/g/README.md
abc418/b/main.cpp
abc418/b/README.md
abc418/f/main.cpp
abc418/f/README.md
abc418/d/main.cpp
abc418/d/README.md
abc418/e/main.cpp
abc418/e/README.md
abc418/a/main.cpp
abc418/a/README.md
abc453/g/main.cpp
abc453/g/README.md
abc453/b/main.cpp
abc453/b/README.md
abc453/f/main.cpp
abc453/f/README.md
abc453/d/main.cpp
abc453/d/README.md
abc453/e/main.cpp
abc453/e/README.md
abc453/a/main.cpp
abc453/a/README.md
abc441/g/main.cpp
abc441/g/README.md
abc441/f/main.cpp
abc441/f/README.md
abc441/d/main.cpp
abc441/d/README.md
abc441/e/main.cpp
abc441/e/README.md
abc454/g/main.cpp
abc454/g/README.md
abc454/b/main.cpp
abc454/b/README.md
abc454/f/main.cpp
abc454/f/README.md
abc454/d/main.cpp
abc454/d/README.md
abc454/e/main.cpp
abc454/e/README.md
abc454/a/main.cpp
abc454/a/README.md
abc423/g/main.cpp
abc423/g/README.md
abc423/b/main.cpp
abc423/b/README.md
abc423/f/main.cpp
abc423/f/README.md
abc423/d/main.cpp
abc423/d/README.md
abc423/e/main.cpp
abc423/e/README.md
abc423/a/main.cpp
abc423/a/README.md
abc440/g/main.cpp
abc440/g/README.md
abc440/f/main.cpp
abc440/f/README.md
abc440/d/main.cpp
abc440/d/README.md
abc440/e/main.cpp
abc440/e/README.md
abc422/g/main.cpp
abc422/g/README.md
abc422/b/main.cpp
abc422/b/README.md
abc422/f/main.cpp
abc422/f/README.md
abc422/d/main.cpp
abc422/d/README.md
abc422/e/main.cpp
abc422/e/README.md
abc422/a/main.cpp
abc422/a/README.md
abc444/g/main.cpp
abc444/g/README.md
abc444/f/main.cpp
abc444/f/README.md
abc444/e/main.cpp
abc444/e/README.md
abc433/g/main.cpp
abc433/g/README.md
abc433/b/main.cpp
abc433/b/README.md
abc433/f/main.cpp
abc433/f/README.md
abc433/d/main.cpp
abc433/d/README.md
abc433/e/main.cpp
abc433/e/README.md
abc433/a/main.cpp
abc433/a/README.md
abc447/g/main.cpp
abc447/g/README.md
abc447/f/main.cpp
abc447/f/README.md
abc447/e/main.cpp
abc447/e/README.md
abc459/g/main.cpp
abc459/g/README.md
abc459/b/main.cpp
abc459/b/README.md
abc459/f/main.cpp
abc459/f/README.md
abc459/d/main.cpp
abc459/d/README.md
abc459/e/main.cpp
abc459/e/README.md
abc459/a/main.cpp
abc459/a/README.md
abc424/g/main.cpp
abc424/g/README.md
abc424/b/main.cpp
abc424/b/README.md
abc424/f/main.cpp
abc424/f/README.md
abc424/d/main.cpp
abc424/d/README.md
abc424/e/main.cpp
abc424/e/README.md
abc424/a/main.cpp
abc424/a/README.md
abc417/g/main.cpp
abc417/g/README.md
abc417/b/main.cpp
abc417/b/README.md
abc417/f/main.cpp
abc417/f/README.md
abc417/d/main.cpp
abc417/d/README.md
abc417/e/main.cpp
abc417/e/README.md
abc417/a/main.cpp
abc417/a/README.md
abc438/g/main.cpp
abc438/g/README.md
abc438/f/main.cpp
abc438/f/README.md
abc438/d/main.cpp
abc438/d/README.md
abc438/e/main.cpp
abc438/e/README.md
abc458/g/main.cpp
abc458/g/README.md
abc458/b/main.cpp
abc458/b/README.md
abc458/f/main.cpp
abc458/f/README.md
abc458/d/main.cpp
abc458/d/README.md
abc458/e/main.cpp
abc458/e/README.md
abc458/a/main.cpp
abc458/a/README.md
